{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "WASTUDIG REST API",
    "description": "API endpoints for Wastu Digital services",
    "contact": {
      "name": "Rizky Oktan",
      "email": "rizkyoktan@wastukancana.ac.id",
      "url": "https://www.rzoktan.tech/"
    }
  },
  "servers": [
    {
      "url": "https://restapi.wastu.digital",
      "description": "Production server"
    },
    {
      "url": "http://localhost:5000",
      "description": "Local server (Fallback)"
    }
  ],
  "tags": [
    {
      "name": "Mahasiswa",
      "description": "Endpoints related to Mahasiswa data operations"
    },
    {
      "name": "Authentication",
      "description": "Endpoints for user login and token generation"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "",
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/api/v1/mahasiswa/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "Endpoint untuk melakukan login mahasiswa menggunakan NIPD dan password.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "example": "any"
                  },
                  "password": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mahasiswa/list": {
      "get": {
        "tags": [
          "Mahasiswa"
        ],
        "description": "Endpoint untuk mendapatkan daftar semua mahasiswa dengan pagination.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Batas jumlah data (default 10)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Data mulai dari index (default 0)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/mahasiswa/jadwal": {
      "get": {
        "tags": [
          "Mahasiswa (Jadwal & Akademik)"
        ],
        "description": "Endpoint untuk mendapatkan jadwal kuliah mahasiswa yang sedang login (berdasarkan NIPD yang tersimpan di Token JWT). Hanya menampilkan jadwal pada semester yang sedang aktif.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/mahasiswa/detail/{id}": {
      "get": {
        "tags": [
          "Mahasiswa"
        ],
        "description": "Endpoint untuk mendapatkan data detail mahasiswa berdasarkan ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/mahasiswa/": {
      "post": {
        "tags": [
          "Mahasiswa"
        ],
        "description": "Endpoint untuk menambahkan data mahasiswa baru.",
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/v1/mahasiswa/{id}": {
      "put": {
        "tags": [
          "Mahasiswa"
        ],
        "description": "Endpoint untuk memperbarui data mahasiswa yang sudah ada.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Mahasiswa"
        ],
        "description": "Endpoint untuk menghapus data mahasiswa secara permanen.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}